<div class="row">
  <div class="col-3">
    <app-filters (onSearchSubmit)="onSearchSubmit($event)"></app-filters>
  </div>

  <div class="col-9">
    <div class="row">
      <div *ngFor="let article of dataSource" class="col-4 mb-3">
        <app-search-cards [article]="article"></app-search-cards>
      </div>
    </div>

    <mat-paginator #paginator
                   [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageIndex]="pageIndex"
                   [showFirstLastButtons]="true"
                   aria-label="Select page"
                   (page)="getServerData($event)">
    </mat-paginator>
  </div>
</div>
