<div class="row">
  <div class="col-12">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>NY Times</span>
      <span class="example-spacer full-width"></span>
      <div  style="float: right">
        <button (click)="onLogout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
</div>

<p></p>

<div class="row">
  <div class="col-3">
    <app-filters></app-filters>
  </div>

  <div class="col-9">
    <div class="row">
      <div class="col-4 mb-3">
        <app-cards></app-cards>

        {{stories | json}}
      </div>
    </div>
  </div>
</div>
