<mat-card>
  <mat-card-title class="text-center">NY Times</mat-card-title>
  <mat-card-subtitle class="text-center">Search Filters</mat-card-subtitle>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Text</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-card-actions class="text-center">
    <button type="button" mat-raised-button color="accent">Reset</button>
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </mat-card-actions>
  <div class="clearfix">
  </div>
</mat-card>
