<div mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ story.title }}
      </mat-card-title>
      <mat-card-subtitle>{{story.section}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{story.multimedia ? story.multimedia[0].url : ''}}" width="300px" height="300px" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ story.abstract }}
      </p>

      <div class="row">
        <div class="col-3">Created Date: {{ story.created_date | date: 'yyyy/MM/dd' }}</div>
        <div class="col-3">Updated Date: {{ story.updated_date | date: 'yyyy/MM/dd' }}</div>
        <div class="col-3">Published Date: {{ story.published_date | date: 'yyyy/MM/dd' }}</div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</div>
