/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f6f6;
}

.full-width {
  width: 100%;
}

.spinner-panel {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(225,225,225, 0.5);
}
