<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      {{ (story.title.length > 40)? (story.title | slice:0:40)+'..':(story.title) }}
    </mat-card-title>
    <mat-card-subtitle>{{story.section}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{story.multimedia ? story.multimedia[0].url : ''}}" height="204px" >
  <mat-card-content>
    <p>
      {{ (story.abstract.length > 110)? (story.abstract | slice:0:110)+'..':(story.abstract) }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="openDialog(story)" mat-raised-button color="accent">Read more ...</button>
  </mat-card-actions>
</mat-card>
